[submodule "third/extcpp"]
	path = third/extcpp
	url = https://github.com/pytorch/extension-cpp.git
[submodule "third/ppopp"]
	path = third/ppopp
	url = https://github.com/owo75/PPOPP.git
[submodule "third/flash-attention"]
	path = third/flash-attention
	url = https://github.com/Dao-AILab/flash-attention.git
[submodule "ppopp/ops/csrc/common"]
	path = ppopp/ops/csrc/common
	url = https://github.com/Kohn23/cuda-commons.git
